

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar {
    border-radius: 0;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    z-index: 999;
}

/* Popovers */

.popover{
    background-color: #fff !important;
    min-width: 200px;
}
.popover .popover-title{
    background-color: #009688;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Tags Input*/

.tags .tag-list .tag-item{
    background-color: #009688 !important;
}

.tags .tag-list .tag-item .remove-button{
    color: #fff;
}

.tags .tag-list + .input{
    color: rgb(141, 136, 136);
}

/* Tables */

.table tbody tr td{
    vertical-align: middle;
}

.table tbody tr td > *{
    margin: 0;
}



/* Alerts */

.repeat-alert.ng-enter,
.repeat-alert.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.repeat-alert.ng-enter,
.repeat-alert.ng-leave.ng-leave-active {
    opacity: 0;
}

.repeat-alert.ng-leave,
.repeat-alert.ng-enter.ng-enter-active {
    opacity: 1;
}


/* Pagination */

.pagination > li > a, .pagination > li > span {
    color: #00aa9a;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #00aa9a;
    border-color: #00aa9a;
}

.row-separate {
    margin-top: 30px;
    margin-bottom: 30px
}


.form-group-taginput {
    margin-top: 37px;
}













