<form class="form-horizontal">
    <fieldset>
       <div class="form-group">
           <label for="name" class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="name" ng-model="model.name">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-md-2 control-label">Tags</label>
            <div class="col-md-10">
                <tags-input ng-model="model.tags.tag" placeholder="add tag" >
                    <auto-complete source="loadTags($query)"></auto-complete>
                 </tags-input>
             </div>
        </div>
        <div class="form-group">
            <label for="objetiveFunction" class="col-md-2 control-label">Objetive Function</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="objetiveFunction" ng-model="model.objetiveFunction">
             </div>
        </div>
    </fieldset>
</form>