<div class="container anim-slide-below" ng-init="getModels()">
    
    <div class="page-header">
        <h2>Search Models <small>Total Models {{ totalModels }}</small></h2>
    </div>

    <div class="row row-separate">
        <form name="searchModelsForm" class="form-inline" role="form" ng-submit="getModels()">
            <div class="form-group form-group-taginput col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-tags"></span>
                    <tags-input ng-model="tags" uib-tooltip="Enter the tags by filter" ng-disabled="loading" add-on-paste="true" placeholder="add tag to filter ..." add-from-autocomplete-only="true" class="form-control" key-property="id" display-property="text" ng-disabled="!totalModels">
                        <auto-complete source="loadTags($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="form-group">
                <multiselect ng-model="fileTypesSelected" uib-tooltip="Select files type" options="c for c in fileTypes" data-multiple="true" scroll-after-rows="5" filter-after-rows="5" max-width="100" tabindex="-1"></multiselect>
            </div>
            <div class="form-group">
                <button  ng-disabled="loading" type="submit" class="btn btn-raised btn-primary" ng-disabled="!totalModels"><span class="glyphicon glyphicon-search"></span></button>
                <img ng-hide="!loading" src="img/ring.gif" width="50" height="50"/>
            </div>  
      </form>
   </div>
    
    <p ng-if="getTotalItems()"><strong ng-if="!loading">Currently viewing {{(currentPage - 1) * itemsPerPage + 1}} - {{getTotalItems()}}</strong></p>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Create at</th>
                    <th>Size</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="warning" ng-if="loading">
                    <td class="text-center" colspan="6"> loading ...</td>
                </tr>
                <tr class="info" ng-if="!models.length && !loading">
                    <td class='text-center' colspan='6'>No models found</td>
                </tr>
                <tr ng-if="!loading" ng-repeat="model in models">
                    <td class="text-capitalize"><strong>{{ model.name }}</strong></td>
                    <td>{{model.createAt | date:'dd-MMM-yy HH:mm'}}</td>
                    <td nowrap>{{ model.size/1024/1024|number:2}} MB</td>
                    <td class="text-center" nowrap>
                        <a ng-href="/uploads/{{ model.filename }}" download class="btn btn-raised btn-primary btn-xs">
                             <span class="glyphicon glyphicon-download"></span> Download
                        </a>
                        <button type="button" class="btn btn-raised btn-info btn-xs" uib-popover-template="'tags-input.html'" popover-title="Tags for {{model.name}}">
                            <span class="glyphicon glyphicon-tags"></span> Tags ({{model.tags.length}})
                        </button>
                        <button type="button" class="btn btn-raised btn-danger btn-xs" ng-click="deleteModel(model.id)">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                 
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-6">
             <uib-pagination total-items="getTotalItems()" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="getModels()" max-size="maxSize" boundary-link-numbers="true" ng-disabled="loading"></uib-pagination>
        </div>
        <div class="col-sm-6">
            <div class="btn-group btn-group-justified btn-group-raised" >
                <a href="javascript:void(0)" ng-class="['btn', 'btn-primary', {active : orderBy == 'desc'}]" ng-click="changeOrder('desc')" ng-disabled="models.length < 2">Recent Files</a>
                <a href="javascript:void(0)" ng-class="['btn', 'btn-primary', {active : orderBy == 'asc'}]" ng-click="changeOrder('asc')" ng-disabled="models.length < 2">Old Files</a>
            </div>
        </div>
    </div>

    
    <!-- ng template -->
    <script type="text/ng-template" id="tags-input.html">
        <tags-selector model="model" on-change="getModels()"></tags-selector>
    </script>

   
    
    
    
</div>
