<div class="text-center">
    <div>
        <tags-input ng-model="model.tags">
            <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>
        <div class="text-center">
            <button type="button" class="btn btn-raised btn-success btn-xs" ng-disabled="!hasTags() || !hasNotSyncTags()"  ng-click="saveTags()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-raised btn-danger btn-xs" ng-disabled="!hasTags()" ng-click="dropTags()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</div>